{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "arrowFunctions": true,
      "classes": true,
      "templateStrings": true,
      "jsx": true
    }
  },
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "jest/globals": true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    }
}
